<!DOCTYPE html>
%html
%head
  <meta charset="utf-8">
  %title
  Learnding
  <link rel="stylesheet" href="faq_stylesheet.css">
  </head>
<body>
  <header>
    <h1>Chosen Topic</h1>
    </header>
    <nav>
      <ul class="topics">
        <p><a href="answer1">How I mine for fish?</a></p>
        <p><a href="answer2">What button is fly up?</a></p>
        <p><a href="answer3">Why I HTML?</a></p>
      </ul>
    </nav>

  <footer>
        <ul>
          <li><a href="Anout us">About us</a></li>
          <li><a href="contact">contact us</a></li>
          <li>Creative Commons</li>
      </footer>
</body>
</html>
